/* Revealing 3D Menu CSS */
body
{
	font-family: sans-serif;
	font-size: 100%;
	padding: 0;
	margin: 0;
	color: #fff;
	background-color: #111;
}

/* main page */
article
{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding-right: 40px;
	background-color: #fff;
	overflow: auto;
	z-index: 0;
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	transform-origin: 0 50%;

	background: url(../img/bg_body.jpg);
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
			/* The url is relative to the document, not to the css file! */
    /* Prefer absolute urls to avoid confusion. */
    -ms-behavior: url(js/backgroundsize.min.htc);
}


article:after
{
	position: absolute;
	content: ' ';
	left: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: -webkit-linear-gradient(right, #111 0%, transparent 100%);
	   background-image: -moz-linear-gradient(right, #111 0%, transparent 100%);
		background-image: -ms-linear-gradient(right, #111 0%, transparent 100%);
		 background-image: -o-linear-gradient(right, #111 0%, transparent 100%);
			background-image: linear-gradient(right, #111 0%, transparent 100%);
	pointer-events: none;
}

/* .sidebarigation */
.sidebar
{
	width: 280px;
	position: fixed;
	/*right: 0px;*/
	right: -240px;
	top: 0;
	bottom: 0;
	background-color: #654;
	z-index: 1;
	background: url(../img/bg_sidebar.jpg);
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
			/* The url is relative to the document, not to the css file! */
    /* Prefer absolute urls to avoid confusion. */
    -ms-behavior: url(js/backgroundsize.min.htc);
}

.sidebar ul
{

}

.sidebar a:link, .sidebar a:visited
{
	display: block;
	width: 100%;
	font-weight: bold;
	line-height: 2.5em;
	text-indent: 10px;
	text-decoration: none;
	color: #ffc;
	border-radius: 4px;
	outline: 0 none;
}

.sidebar a:hover, .sidebar a:focus
{
	color: #fff;
	background-color: #543;
	text-shadow: 0 0 4px #fff;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}

/* hovering */
article, article:after, .sidebar, .sidebar *
{
	-webkit-transition: all 300ms ease;
	   -moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		 -o-transition: all 300ms ease;
			transition: all 300ms ease;
}

.sidebar:hover
{
	right: 0;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 1);
}

.sidebar:hover ~ article
{
	-webkit-transform: perspective(1000px) rotateY(20deg);
	-moz-transform:    perspective(1000px) rotateY(20deg);
	-ms-transform: 	   perspective(1000px) rotateY(20deg);
	-o-transform: 	   perspective(1000px) rotateY(20deg);
	transform: 		   perspective(1000px) rotateY(20deg);
}

.sidebar:hover ~ article:after
{
	left: 0%;
}

.sidebar:hover > .sidebar_handle 
{
	background-color: rgba(0, 0, 100, .1);
	-webkit-transition: all 100ms ease;
	   -moz-transition: all 100ms ease;
		-ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
			transition: all 100ms ease;
}


.sidebar_handle
{
	position: absolute;
	height: 100%;
	width: 40px;
}
.sidebar_title
{
width: 20px;
height: 580px;

position: absolute;
margin: 50px 10px 0px 10px;
}
.sidebar_subtitle {
	font-size: 14px;
letter-spacing: 0.1em;
font-weight: normal;
color: #357;
}
.sidebar_content
{
	margin-left: 40px;
	padding: 5px 10px;
}

.input_wrapper {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 10px;
}
.input_wrapper:first-child {
	margin-top: 5px;
}
.input_wrapper label{
	background-color: #4ab;
	background-color: rgba(255, 255, 255, .1);
	display: block;
	text-align: center;
	padding: 5px;
	text-transform: uppercase;
	font-size: 12px;
}
.input_content {
	background-color: #39a;
	background-color: rgba(0, 0, 0, .1);
	padding: 10px 10px 5px 10px;
	overflow: overlay;
}
.input_printout {
	font-size: 11px;
	line-height: 10px;
	padding: 3px;
	background-color: #289;
	background-color: rgba(0, 0, 0, .1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 50px;
	display: inline-block;
	margin-left: 5px;
	text-align: center;
	position: absolute;
}


.rangeslider {
	width: 135px;
margin: 8px 0px;
display: inline-block;
}
.input_txt {
	font-size: 11px;
	text-align: right;
	color: #145;
	margin: 5px;
}
.input_txt strong {
	color: #fff;
	font-weight: normal;
}

.rangeslider * {

  -webkit-transition: none;
     -moz-transition: none;
    -ms-transition: none;
     -o-transition: none;
      transition: none;
}




.module_wrapper {
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.3);
	width: 100%;
bottom: 0px;
	top: 0px;
	position: fixed;
	right: 40px;
	left: 0;
}
.module_header {
	background-color: #012;
	background-color: rgba(0, 0, 0, .2);
	padding: 10px 50px 10px 10px;
	text-transform: uppercase;
	text-align: center;
}
.module_container {
	padding: 20px;
}
.module_wrapper.half {
	width: 50%;
}
.module_log {
	position: absolute;
	bottom: 0;
	margin-bottom: 15px;
	font-size: 14px;
	color: #09c;
	line-height: 1.2em;
}
.log_header {
	font-weight: bold;
	color: #2cd;
	width: 4em;
	display: inline-block;
}

.log_number {
	color: #fff;
}


#reset {
background-color: transparent;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
display: inline-block;
border: 1px solid #fff;
border: 1px solid rgba(255, 255, 255, 0.2);
cursor: pointer;
color: #ffffff;
font-size: 12px;
padding: 13px 48px 13px 10px;
text-decoration: none;
margin: 0;
position: relative;
overflow: hidden;
width: 100%;
text-align: left;
white-space: nowrap;
}
#reset:hover {
border: 1px solid rgba(255, 255, 255, 0.5);
}
#reset img {
position: absolute;
width: 30px;
height: 30px;
top: 5px;
right: 8px;
z-index: -1;
	-webkit-transition: all 600ms ease;
	   -moz-transition: all 600ms ease;
		-ms-transition: all 600ms ease;
		 -o-transition: all 600ms ease;
			transition: all 600ms ease;
}
#reset:hover > img {
	-webkit-transform: rotate(-360deg);
	-moz-transform:    rotate(-360deg);
	-ms-transform: 	   rotate(-360deg);
	-o-transform: 	   rotate(-360deg);
	transform: 		   rotate(-360deg);
}
#reset:active > img {
	-webkit-transform: rotate(-450deg);
	-moz-transform:    rotate(-450deg);
	-ms-transform: 	   rotate(-450deg);
	-o-transform: 	   rotate(-450deg);
	transform: 		   rotate(-450deg);
	-webkit-transition: all 200ms ease;
	   -moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		 -o-transition: all 200ms ease;
			transition: all 200ms ease;
}

.hamburger {
	margin: 15px 10px;
}
.icon-bar {
	display: block;
	width: 20px;
	height: 3px;
	background: #fff;
	margin-bottom: 4px;
}


#canvas_container {
	width: 400px;
	height: 400px;
	margin: auto;
	bottom: 0;
	position: absolute;
	top: 40px;
	left: 0;
	right: 40px;
}
#canvas_container svg {
transform:scale(1.4,1.4);
-ms-transform:scale(1.4,1.4); /* IE 9 */
-webkit-transform:scale(1.4,1.4);
}


*:focus {
    outline: 0;
}

input {
margin: 0;
padding: 0;
border: 0;
background: none;
color: #fff;
width: 100%;
text-align: center;
}
.hidden {
	display: none;
}

@media screen and (min-width: 762px) {
	.sidebar
	{
		right: 0px;	
	}
	.sidebar:hover ~ article
	{
		-webkit-transform: none;
		-moz-transform:    none;
		-ms-transform: 	   none;
		-o-transform: 	   none;
		transform: 		   none;
	}
	.sidebar:hover ~ article:after
	{
		display: none;
	}
	#canvas_container {
		right: 280px;
	}
	.module_header {
		padding-right: 290px;
	}
}

@media screen and (max-width: 440px) {
	#canvas_container svg {
		transform: scale(1,1);
		-ms-transform: scale(1,1);
		-webkit-transform: scale(1,1);
}
}